@*@model PosetiMe.Models.tblVisit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblVisit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblLocal.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblLocal.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblUser.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblUser.ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@


@model PosetiMe.Models.tblLocal

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblLocal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Име
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Град
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblCity.Name)
        </dd>

        <dt>
            Адреса
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            Телефон
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            Телефон 2
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone2)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.Imege)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Imege)
            </dd>*@



        <dt>
            Рејтинг
        </dt>

        <dd>
            @if (Model != null)
            {
                @TempData["rateing"]
            }
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<table class="table">
    <tr>
        <th>
            Дата
        </th>
        <th>
            Коментар
        </th>

        <th></th>
    </tr>

    @foreach (var item in ViewBag.comments)
    {
        <tr>
            <td>
                @item.Date
            </td>
            <td>
                @item.Comment
            </td>

            @*<td>
                    @Html.DisplayFor(modelItem => item.tblUser.ID)
                </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>

    }

</table>

