@model PosetiMe.Models.tblComment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblComment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblLocal.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblLocal.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblUser.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblUser.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
