@model IEnumerable<PosetiMe.Models.tblLocal>

@{
    ViewBag.Title = "Index";
}

<h2>Локали</h2>

<p>
    @Html.ActionLink("Внеси нов локал", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Име
        </th>
        <th>
            Град
        </th>
        <th>
            Адреса
        </th>
        <th>
            Телефон
        </th>
        <th>
            Телефон 2
        </th>
                
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblCity.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone2)
        </td>
       
        <td>
            @Html.ActionLink("Детали", "Details", new { id=item.ID })
        </td>
    </tr>
}

</table>
